html, body {
  font-family: Lato, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.info-container {
  font-size: 16px;
  padding-top: 20px;
  text-align: center;
}

.info-container:not(:first-child) {
  padding-top: 30px;
}

.info-container .title {
  font-size: 18px;
  text-decoration: underline;
}